@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=M+PLUS+1p:wght@100&family=M+PLUS+1p:wght@300&family=M+PLUS+1p:wght@400&family=M+PLUS+1p:wght@700&family=Noto+Serif+JP&display=swap');

@font-face{
	font-family: "Wingdings";
	src: url("Wingdings.ttf") format("truetype");
};

@font-face{
	font-family: "M PLUS 1p";
	src: url("MPLUS1p.ttf") format("truetype");
};

html{
	font-family: "M PLUS 1p", sans-serif;
	font-size: 16px;
	text-align: center;
	line-height: 2em;
	margin: 0;
	padding: 0;
	border: none;
}

body{
	font-family: "M PLUS 1p", sans-serif;
	margin: 0;
	padding: 0;
	border: none;
}

#wrap{
	margin: 0;
	padding: 0;
	border: none;
	text-align: center;
}

#back{
	margin: 0 auto;
	padding: 0 15px 30px;
}

.center{text-align:center;}

h1{
	height: 1.5em;
	text-align: center;
	font-weight: normal;
	border-bottom: thin solid;
	max-width: 100%;
	padding: 0;
	margin:50px auto 10px;
}

h2{
	text-align: center;
	line-height: 2em;
	min-height: 2em;
	margin: 15px 0 1ex;
	padding: 2px auto 7px;
	border-left: solid 0.8ex #aaaaaa;
	border-right: solid 0.8ex #aaaaaa;
	border-top: solid 1px #aaaaaa;
	border-bottom: solid 1px #aaaaaa;
	font-weight:normal;
	font-size: 135%;
}

h3{
	display: block;
	width: auto;
	line-height: 1em;
	margin: 1em 0 0.8em;
	padding: 5px 10px;
	font-weight:normal;
	font-size: 125%;
	text-shadow: #fff 1px 1px 1px;
	background: linear-gradient(transparent 55%, #99b6ffaa 60%);
}

h4{
	display: block;
	font-weight: normal;
	padding: 0;
	margin: 0.75em 0.5em 0.5em;
}


#loader-bg {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	background-color: #111111;
	z-index: 5;
}
#loader {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 20px;
	margin-top: -175px;
	margin-left: -175px;
	text-align: center;
	color: #fff;
	z-index: 6;
}

a{
	font-size: 120%;
	display: inline-block;
	color: #777777;
	background-color: #dddddd;
	padding: 0 1em;
	margin: 1em;
	text-decoration: none;
	transition: 0.5s;
}

a:hover{
	color: #dddddd;
	background-color: #777777;
}

select{
	display: inline-block;
	font-family: "M PLUS 1p", sans-serif;
	font-size: 95%;
	color: #666666;
	width: 17em;
	margin: 1em 0;
	padding: 5px;
	height: 3em;
	box-shadow: none;
	background-color: #eee;
	border: solid 1px #000;
}

select[name=sender]{
	width: 19em;
	margin-bottom: 0;
	font-size: 101%;
}

option{
	font-family: "M PLUS 1p", sans-serif;
};

input[type]{
	font-family: "Noto Serif JP", serif;
	font-size: 100%;
	letter-spacing: 1px;
	line-height: 2em;
	color: #000;
	max-width: 500px;
	box-shadow: none;
	margin:0 auto;
	padding: 3px;
	background-color: #eee;
	border: solid 1px #000;
	-webkit-appearance: none;
	border-radius: 3px;
}
input[type=text]{
	font-family: "M PLUS 1p", sans-serif;
	font-size: 100%;
	color: #000;
	box-shadow: none;
	border: solid 1px #000;
	background-color: #eee;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
}

.messagearea{
	display: block;
	font-family: "M PLUS 1p", sans-serif;
	font-size: 95%;
	resize: none;
	height: 12em;
	letter-spacing: 1px;
	line-height: 1.5em;
	color: #000;
	width: 93%;
	box-shadow: none;
	margin: 0 0 0.5em;
	padding: 3px;
	background-color: #eee;
	border: solid 1px #000;
	-webkit-appearance: none;
	border-radius: 3px;
}

button:active{
	font-family: "M PLUS 1p", sans-serif;
	display: inline-block;
	height: 40px;
	max-width: 200px;
	cursor: pointer;
	margin: 5px 5px 10px;
	padding: 0 30px;
	color: #fff;
	text-shadow: none;
	box-shadow: none;
	background: #223a70;
	border: solid 1px #223a70;
	-webkit-appearance: none;
	border-radius: 1ex;
	transition-duration: 0.01s;
}

button{
	font-family: "M PLUS 1p", sans-serif;
	display: inline-block;
	height: 40px;
	max-width: 200px;
	cursor: pointer;
	margin: 5px 5px 10px;
	padding: 0 30px;
	color: #223a70;
	text-shadow: none;
	box-shadow: none;
	background: #ffffff;
	border: solid 1px #223a70;
	-webkit-appearance: none;
	border-radius: 1ex;
	transition-duration: 1s;
}

input[type=time]{
	font-family: "M PLUS 1p", sans-serif;
	font-size: 90%;
	background-color: #eee;
	border: solid 1px #000;
	color: #000;
	width: 7em;
	padding: 7px;
	margin: 3px 10px 3px;
}

input[type=date]{
	font-family: "M PLUS 1p", sans-serif;
	font-size: 120%;
	color: #000;
	width: 10.5em;
	margin: 10px 7px;
}

input[type=file]{
	border: solid 1px #000;
	background-color: #eee;
	font-size: 90%;
	max-width: 19em;
	margin: 10px 5px;
	padding: 5px;
}

input[type=date]{
	font-family: "M PLUS 1p", sans-serif;
	font-size: 120%;
	color: #000;
	width: 10.5em;
	margin: 5px 0;
	padding: 7px;
	border: solid 1px #000;
	background-color: #eee;
}

form{
	text-align: center;
}

.sender{
	width: 85%;
}

.icon{
	margin: 5px 5px 20px;
	display: block;
}

.left{
	width: 23em;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	padding: 0 20px;
	margin: 0 auto;
	border: none;
}

#senders{
	display: inline-block;
	padding: 0 10px 20px;
	margin: 10px 0 0;
	width: 92%;
	max-height: 30em;
	overflow: scroll;
	border: solid 1px #000000;
}

#buttonThere{
	text-align: center;
	margin: 0;
	padding: 0;
}

.iconPreview{
	border-radius: 50%;
	width: 5em;
	height: 5em;
	margin: 0 0 0 1em;
	padding: 0;
	object-fit: cover;
	border: solid 1px #000;
}

.LinEiconPre{
	width: 1.75em;
	height: 1.75em;
	padding: 0;
	object-fit: cover;
}

#result{
	width: 21.5em;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

.samplecolor{
	display: inline-block;
	font-size: 93%;
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
	vertical-align: middle;
	border-radius: 50%;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

input[type=radio]{
	display: none;
}

input[type=checkbox]{
	width: 2em;
	height: 2em;
	margin: 10px 10px 5px;
	padding: 0;
	vertical-align: middle;
}

label{
	display: inline-block;
	margin: -5px;
	padding: 10px 0 5px;
}

input[type=checkbox]:checked + .green{
	width: 15em;
	margin: 0;
	vertical-align: middle;
}

.green{
	cursor: pointer;
	margin: 0;
	width: 15em;
	vertical-align: middle;
}

input[type=radio]:checked + .radiocheck{
	font-size: 93%;
	line-height: 1em;
	text-align: left;
	min-width: 4em;
	padding: 1em 0.75em;
	margin: 10px 10px 10px 0;
	display: inline-block;
	border-radius: 10px;
	background-color: #FFFFFF;
	cursor: pointer;
	box-shadow: 0 0 5px 2px rgba(255, 255, 0, 0.1) inset, 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.radiocheck{
	font-size: 93%;
	line-height: 1em;
	text-align: left;
	min-width: 4em;
	padding: 1em 0.75em;
	margin: 10px 10px 10px 0;
	display: inline-block;
	border-radius: 10px;
	background-color: #F3F3F3;
	cursor: pointer;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}